.main-login{
    padding-top: 50px;
    padding-left: 150px;
    margin: 100px 0;
    text-align: center;
    width:100%;
    /*align-items: center;*/
    vertical-align: middle;
  }
  
       #parent {
     /*display: table;*/
     width: 50%;
     vertical-align: middle;
     text-align: center;
  
  }
  .login {
  margin: 20px auto;
  width: 300px;
  }
  .login-screen {
  /*background-color: #FFF;*/
  padding-top: 1000px;
  background-color: #3498DB;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  
  }
  .app-title {
    text-align: center;
    color: #777;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    input:focus {
        border: 2px solid #3498DB;
        box-shadow: none;
        }
        
        .btn {
          border: 2px solid transparent;
          background: #3498DB;
          color: #ffffff;
          font-size: 16px;
          line-height: 25px;
          padding: 10px 0;
          text-decoration: none;
          text-shadow: none;
          border-radius: 3px;
          box-shadow: none;
          transition: 0.25s;
          display: block;
          width: 250px;
          margin: 0 auto;
        }
        
        .btn:hover {
          background-color: #2980B9;
        }
        .login-link {
            font-size: 12px;
       body {
         text-align: center;
       }
       @media only screen and (max-width: 800px){
        *,.login-field,.login-screen,.login-form,.login-link{
            position: absolute;
            top: 70px;
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5;
        }